{% extends 'food/base.html' %}
{% block body %}
    {% for item in item_list %}
    <div class="row">
        <div class="col-md-3 offset-md-2">
            <img class="card" height="150" width="250" src="{{ item.item_image }}">
        </div>
        <div class="col-md-4">
            <h3>{{ item.item_name }}</h3>
            <h4>{{ item.item_desc }}</h4>
            <h6>₹{{ item.item_price }}</h6>
        </div>
        <div class="col-md-2">
            <a class="btn btn-secondary" href="{% url 'food:detail' item.id %}">Details</a>
        </div>
    </div>
    {% endfor %}

{% endblock %}
